[data-formitiva-theme="ios"] {
  --formitiva-primary-bg: #f2f2f7;
  --formitiva-secondary-bg: #ffffff;
  --formitiva-input-bg: #ffffff;

  --formitiva-text-color: #000000;
  --formitiva-text-muted: #8e8e93;

  --formitiva-border-color: #d1d1d6;
  --formitiva-border-hover: #b3b3b9;
  --formitiva-border-focus: #0a84ff;

  --formitiva-error-color: #ff3b30;
  --formitiva-success-color: #34c759;

  --formitiva-option-menu-hover-bg: #000000;

  --formitiva-border-radius: 14px;

  --formitiva-shadow:
    0 10px 30px #000000;

  --formitiva-button-bg: #0a84ff;
  --formitiva-button-text: white;
  --formitiva-button-border-radius: 14px;

  --formitiva-input-padding: 14px 16px;

  /* Tooltip */
  --formitiva-tooltip-color-bg: #3c3c3c;
  --formitiva-tooltip-color: #ffffff;
}
